body{
    font-family: arial,sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
    text-align: center;
}
.input-section{
   display: flex;
   flex-direction: column;
   align-items: center;

}
.converte{
    margin-top: 20px;
}
input, select, button{
    width: 80%;
    padding: 10px;
    margin: 10px 0 ;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button{
    background-color: #5cb8c5;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #4cae4c;
}
.output-section{
    margin-top: 20px;
}
#result{
    color: #333;
}
